.main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5px
}
.div1 {
    position: relative;
    width: 50%;
    height:100%;
    background-color: blue; 
    float: left;
}
.div2 {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: pink; 
    float: left;
}
.divHeader {
    height: 10%;
    width: 100%;
    background-color: green;
    position: relative;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .div1 {
        width:100%;
    }
    .div2 {
        width: 100%;
    }   
} 